<div class="filters-section">
  <mat-expansion-panel [expanded]="expanded" class="filters-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_list</mat-icon>
        {{ 'SEMAFORO.filtros_busqueda' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div class="filters-container">
      <!-- Filtro de Código de Estudiante -->
      <div *ngIf="canUseCodigoFilter" class="filter-field input-wrapper">
        <label class="input-label">{{ 'SEMAFORO.codigo_estudiante' | translate }}</label>
        <input 
          type="text" 
          class="filter-input"
          [(ngModel)]="filters.codigoEstudiante" 
          (ngModelChange)="onFilterChange()" 
          [placeholder]="'SEMAFORO.codigo_estudiante_placeholder' | translate">
      </div>

      <!-- Filtro de Facultad -->
      <div *ngIf="canUseFacultadFilter" class="filter-field ng-select-wrapper">
        <label class="ng-select-label">{{ 'SEMAFORO.facultad' | translate }}</label>
        <ng-select
          [(ngModel)]="filters.idFacultad"
          (change)="onFacultadChange(filters.idFacultad)"
          [items]="facultades"
          bindLabel="nombre"
          bindValue="id"
          [disabled]="loadingFacultades"
          [loading]="loadingFacultades"
          [searchable]="true"
          [clearable]="true"
          appendTo="body"
          [placeholder]="'SEMAFORO.seleccione_facultad' | translate"
          [notFoundText]="'SEMAFORO.no_facultades' | translate">
          <ng-template ng-option-tmp let-item="item">
            {{ item.nombre }}
          </ng-template>
        </ng-select>
      </div>

      <!-- Filtro de Proyecto Curricular -->
      <div *ngIf="canUseProyectoFilter" class="filter-field ng-select-wrapper">
        <label class="ng-select-label">{{ 'SEMAFORO.proyecto_curricular' | translate }}</label>
        <ng-select
          [(ngModel)]="filters.idProyecto"
          (change)="onFilterChange()"
          [items]="proyectos"
          bindLabel="nombre"
          bindValue="id"
          [disabled]="(!filters.idFacultad && canUseFacultadFilter) || loadingProyectos"
          [loading]="loadingProyectos"
          [searchable]="true"
          [clearable]="true"
          appendTo="body"
          [placeholder]="'SEMAFORO.seleccione_proyecto' | translate"
          [notFoundText]="'SEMAFORO.no_proyectos' | translate">
          <ng-template ng-option-tmp let-item="item">
            {{ item.nombre }}
          </ng-template>
        </ng-select>
        <small class="ng-select-hint" *ngIf="!filters.idFacultad && !loadingProyectos && canUseFacultadFilter">
          {{ 'SEMAFORO.seleccione_facultad_primero' | translate }}
        </small>
      </div>

      <!-- Filtro de Año de Inscripción -->
      <div *ngIf="canUseAnioFilter" class="filter-field input-wrapper">
        <label class="input-label">{{ 'SEMAFORO.anio_inscripcion' | translate }}</label>
        <input 
          type="number" 
          class="filter-input"
          [(ngModel)]="filters.anioInsGrado" 
          (ngModelChange)="onFilterChange()" 
          [placeholder]="'SEMAFORO.anio_inscripcion_placeholder' | translate">
      </div>

      <!-- Filtro de Periodo de Inscripción -->
      <div *ngIf="canUsePeriodoFilter" class="filter-field input-wrapper">
        <label class="input-label">{{ 'SEMAFORO.periodo_inscripcion' | translate }}</label>
        <input 
          type="number" 
          class="filter-input"
          [(ngModel)]="filters.perInsGrado" 
          (ngModelChange)="onFilterChange()" 
          [placeholder]="'SEMAFORO.periodo_inscripcion_placeholder' | translate">
      </div>

      <!-- Botones de acción -->
      <div class="filter-actions">
        <button mat-raised-button color="accent" (click)="onSearch()" class="apply-filters-btn">
          <mat-icon>search</mat-icon>
          {{ 'GLOBAL.buscar' | translate }}
        </button>
        <button mat-stroked-button (click)="onClear()" class="clear-filters-btn">
          <mat-icon>clear</mat-icon>
          {{ 'GLOBAL.limpiar' | translate }}
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
